{% extends "base.html" %} {% block link %}
<link
  rel="stylesheet"
  href="{{ url_for('static',filename='styles/creatorStudio.css') }}"
/>
<link
  rel="stylesheet"
  href="{{ url_for('static',filename='styles/visual.css') }}"
/>{% endblock %} {% block title %}Digital A.M.P.S{% endblock %} {% block body %}
<div class="flex flex-center-center w100 p-small">
  <div class="w100 font-large font-weight-bold txt-center">
    Design Your Custom Stratahedron<sup class="font-medium">TM&nbsp;</sup
    >Digital Business Strategy Model
  </div>
</div>
<div class="w100 studio-flex-outer p-small">
  <div class="flex flex-center-center studio-inner-flex">
    <iframe src="https://www.youtube.com/embed/UrZS4o7jUBc"> </iframe>
  </div>
  <div
    class="
      flex
      w100
      font-medium font-weight-medium
      flex-center-center
      studio-inner-flex
      p-small
    "
  >
    <div class="w100 txt-center">Ready to get started?</div>
  </div>
</div>
<div class="w100 flex flex-center-center p-small">
  <div class="flex flex-center-center template-img">
    <img
      src="{{ url_for('static',filename='images/stratahedron_view_template.png') }}"
      alt=""
      width="500px"
      height="300px"
    />
  </div>
  <div
    class="flex w100 font-medium font-weight-medium flex-center-center"
    style="text-align-last: center; padding: 0 10%"
  >
    Use this template as your visual guide to see how the pieces of each
    triangle fits together and interacts with each other. Then, enter your
    answers to the questions below, which will then appear in your own to custom
    digital strategy model.
  </div>
</div>
<div class="flex-outer-container w100 p-small">
  <div class="flex-inner-container question-container qa"></div>
  <div class="flex-inner-container question-container">
    <svg version="1.1" id="Layer_1" xmlns:x="&ns_extend;" xmlns:i="&ns_ai;" xmlns:graph="&ns_graphs;"
         xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="650px" height="650px"
         viewBox="0 0 500 500" enable-background="new 0 0 500 500" xml:space="preserve">
  <g i:extraneous="self">
		<g>
			<polygon fill="#F4F4F5" points="494,455.7 3.8,455.7 10.7,443.7 241.7,43.8 249.8,29.9 256.9,42.4 486.6,442.8 			"/>
          <path fill="#2D2D2D" d="M495.2,456.4H2.6l7.5-13l231-399.9l8.7-15L495.2,456.4z M5,455h487.7l-6.8-11.8L256.3,42.7l-6.5-11.4
				l-7.4,12.9l-231,399.9L5,455z"/>
		</g>
    <polygon fill="#383838" points="256.9,43.7 256.9,107.9 241.7,107.9 241.7,45.2 249.8,31.2 		"/>
    <polygon fill="#383838" points="79.9,421.3 21.4,455.1 4.8,455.1 11.7,443.1 72.3,408.2 		"/>
    <polygon fill="#383838" points="493,455 477.5,455 413.9,418.2 421.5,405.1 485.6,442.1 		"/>
    <polygon fill="#565656" points="257.7,368.3 257.7,440.9 249.7,454.5 242.5,442.3 242.5,368.3 		"/>
    <polygon fill="#565656" points="373.9,248.2 367.3,259.3 307.9,293.6 300.3,280.5 356.2,248.2 		"/>
    <polygon fill="#565656" points="199.5,279.8 191.9,293 133.3,259.2 126.5,247.5 143.6,247.5 		"/>
    <!--Top-most triangle-->
    <g id="l">
      <foreignObject  transform="translate(200, 150)" width="100px" height="70px">
              <div class="l l1" font-size="14.1245px">Audience</div>
      </foreignObject>
    </g>
    <g>
      <foreignObject transform="matrix(0.4924 -0.8704 0.8704 0.4924 130.5547 240.9237)" width="200px" height="70px" >
        <div class="lBorders l3">Be Seen</div>
      </foreignObject>
    </g>
    <g>
      <foreignObject transform="matrix(1 0 0 1 150.7472 230.7452)" width="200px" height="70px" >
        <div class="lBorders l2">Be Understood</div>
      </foreignObject>
	</g>
    <g>
      <foreignObject transform="matrix(0.5037 0.8639 -0.8639 0.5037 270.5822 70.0117)" width="200px" height="70px" >
        <div class="lBorders l4">Be Heard</div>
      </foreignObject>
	</g>

    <!--Bottom-Centered Triangle-->

    <g>
      <foreignObject transform="matrix(1 0 0 1 200.1851 290.7564)"  width="100px" height="70px" >
        <div class="l l5">Method</div>
      </foreignObject>
    </g>
    <g>
      <foreignObject transform="matrix(1 4.219898e-03 -4.219898e-03 1 150.5021 248)" width="200px" height="70px" >
        <div class="lBorders l6">Digital Keystone & Foundation</div>
      </foreignObject>
    </g>
    <g>
      <foreignObject transform="matrix(0.506 0.8625 -0.8625 0.506 150 256)" width="200px" height="70px" >
        <div class="lBorders l7">Digital Assets</div>
      </foreignObject>
	</g>
    <g>
      <foreignObject transform="matrix(.5266 -0.8501 0.8501 0.5266 250 420)" width="200px" height="70px" >
        <div class="lBorders l8">Digital Ecosystem</div>
      </foreignObject>
    </g>
    <!--Bottom-Right Triangle-->
    <g>
      <foreignObject transform="matrix(1 0 0 1 325.8687 350.438)"  width="90px" height="70px" >
        <div class="l l12">Story</div>
      </foreignObject>
    </g>
    <g>
      <foreignObject transform="matrix(0.5113 -0.8594 0.8594 0.5113 268 430)" width="200px" height="70px" >
        <div class="lBorders l14">Adaptable</div>
      </foreignObject>
    </g>
    <g>
      <foreignObject transform="matrix(1 -5.724754e-03 5.724754e-03 1 270 440)" width="200px" height="70px" >
        <div class="lBorders l13">Resourceful</div>
      </foreignObject>
    </g>
    <g>
      <foreignObject transform="matrix(0.5037 0.8639 -0.8639 0.5037 380 260)" width="200px" height="70px" >
        <div class="lBorders l15">Connected</div>
      </foreignObject>
    </g>

    <!--Bottom-Left Triangle-->

    <g>
      <foreignObject transform="matrix(1 0 0 1 79.6216 350.438)" class="l l16" width="100px" height="70px" >
        <div class="l l16">Process</div>
      </foreignObject>
    </g>
    <g>
      <foreignObject transform="matrix(0.5113 -0.8594 0.8594 0.5113 20.4639 430.8353)" width="200px" height="70px" >
        <div class="lBorders l18">Value Creation</div>
      </foreignObject>
    </g>
    <g>
      <foreignObject transform="matrix(1 -5.724754e-03 5.724754e-03 1 30.6904 436.9119)" width="200px" height="70px" >
        <div class="lBorders l17">Digital Delivery</div>
      </foreignObject>
    </g>
    <g>
      <foreignObject transform="matrix(0.5037 0.8639 -0.8639 0.5037 140.034 275)" width="200px" height="70px" >
        <div class="lBorders l19">Digital Experience</div>
      </foreignObject>
	</g>

    <!--Static Labels (Outer Triangle)-->
    <g>
      <text transform="matrix(0 1 -1 0 247.0938 57.2886)" fill="#F0EFEF" font-family="'ArialMT'" font-size="8px">Certainity</text>
	</g>
    <g>
      <text transform="matrix(0.861 0.5086 -0.5086 0.861 435.5796 424.1603)" fill="#F0EFEF" font-family="'ArialMT'" font-size="8px">Competency</text>
	</g>
    <g>
      <text transform="matrix(0.8665 -0.4991 0.4991 0.8665 33.9393 441.6629)" fill="#F0EFEF" font-family="'ArialMT'" font-size="8px">Clarity</text>
	</g>
    <!--Dynamic Labels (Hashtags) Inner triangle-->
    <text transform="matrix(0.8689 0.495 -0.495 0.8689 139 257)" fill="#F0EFEF" class="lHashtags l11">#TheBlackWire</text>
    <text transform="matrix(0.8656 -0.5007 0.5007 0.8656 310 287)" fill="#F0EFEF" class="lHashtags l10">#DigitalGenius</text>
    <text transform="matrix(4.489659e-11 -1 1 4.489659e-11 252 445)" fill="#F0EFEF"  class="lHashtags l9">#DigitalLeadership</text>
	</g>
      <path fill="#2D2D2D" d="M249.7,457.1l-7.8-13.2L133.4,261l-9.4-14.9l251.8,0.7l-8.8,13.9L258.3,442.4L249.7,457.1z M126.6,247.5
			l8,12.8l108.5,182.9l6.5,11.1l7.4-12.6l108.7-181.8l7.4-11.7L126.6,247.5z"/>
</svg>
  </div>
</div>
<div class="flex w100 flex-center-center p-small" style="padding-bottom: 4%">
  <span
    class="btn font-medium pop-up"
    style="width: fit-content; padding: 10px 15px; border-radius: 4px"
    >Finish Your Stratahedron Design</span
  >
</div>
<div class="outer-box reg-outer-container" style="margin-top: 0">
  <div class="reg-form flex flex-center-center p-small">
    <div
      class="outer-box w100 reg-form-inner"
      style="position: relative; margin-top: 0"
    >
      <div class="cross w100 flex flex-center-center p-small">
        <div class="cl1"></div>
        <div class="cl1"></div>
      </div>
      <div
        class="
          flex
          w100
          flex-center-center
          font-medium font-weight-bold
          p-small
          form-head
        "
        style="text-align-last: center; margin-top: 5%"
      >
        Please Enter your Details to Complete Your Design
      </div>
      <form id="reg-form1">
        <div class="flex w100 flex-center-center p-small">
          <div
            class="flex w100 flex-start font-normal font-weight-medium"
            style="width: 80%"
          >
            Full Name
          </div>
          <div class="flex w100 flex-start" style="width: 80%">
            <input type="text" name="full_name" class="rf rf0" />
          </div>
        </div>
        <div class="flex w100 flex-center-center p-small">
          <div
            class="flex w100 flex-start font-normal font-weight-medium"
            style="width: 80%"
          >
            Email
          </div>
          <div class="flex w100 flex-start" style="width: 80%">
            <input type="text" name="email" class="rf rf1" />
          </div>
        </div>
        <div class="flex w100 flex-center-center p-small">
          <div
            class="flex w100 flex-start font-normal font-weight-medium"
            style="width: 80%"
          >
            Phone Number
          </div>
          <div class="flex w100 flex-start" style="width: 80%">
            <input type="text" name="phone_number" class="rfe2" />
          </div>
        </div>
        <div class="flex w100 flex-center-center p-small">
          <div
            class="flex w100 flex-start font-normal font-weight-medium"
            style="width: 80%"
          >
            Location/City
          </div>
          <div class="flex w100 flex-start" style="width: 80%">
            <input type="text" name="location" class="rfe3" />
          </div>
        </div>
        <div class="flex w100 flex-center-center p-small">
          <div
            class="flex w100 flex-start font-normal font-weight-medium"
            style="width: 80%"
          >
            Company Website
          </div>
          <div class="flex w100 flex-start" style="width: 80%">
            <input type="text" name="company_website" class="lsf" />
          </div>
        </div>
        <div
          class="
            flex
            w100
            flex-center-center
            p-small
            font-normal font-weight-medium
            error
          "
          style="color: red"
        ></div>
        <div class="flex w100 flex-center-center p-small">
          <button
            class="btn font-normal font-weight-medium reg-btn"
            type="submit"
            style="width: fit-content; padding: 1% 15px"
          >
            Complete My Design
          </button>
        </div>
      </form>
      <div class="flex-center-center w100 load-cont" style="height: 40vh">
        <div class="loader"></div>
      </div>
      <div
        class="
          success-sec
          w100
          flex-center-center
          font-medium font-weight-medium
        "
        style="height: 40vh"
      >
        <span class="flex w100 flex-center-center"
          >You have successfully created your design.</span
        >
        <div class="flex flex-center-center w100 font-normal download"></div>
      </div>
    </div>
  </div>
</div>
{% block js %} {% endblock %} {% endblock %}
