{% extends "base.html" %} {% block link %}<link
  rel="stylesheet"
  href="{{ url_for('static',filename='styles/instruction.css') }}"
/>
{% endblock %} {% block title %}Digital A.M.P.S{% endblock %} {% block body %}

<div class="flex flex-center w100 p-small">
  <div class="flex instruction-box">
    <img src="{{ url_for('static',filename='images/header.png') }}" alt="" />
  </div>
</div>
<div class="flex flex-center-center w100 p-small">
  <div class="flex w100 flex-center-center instruction-box p-small">
    <div class="inst-block w100 font-large font-weight-bold">
      The Digital Strategy Planning Tool, The Digital AMPS Approach and the
      Stratahedron<sup class="font-medium">TM </sup>&nbsp;Strategy Tool.
    </div>
    <div class="inst-block w100 font-medium font-weight-normal mt">
      The Digital AMPs Approach helps you identify and articulate the key
      elements of your business and how you deliver your remarkable value.
    </div>
    <div class="inst-block w100 font-medium font-weight-normal mt">
      There are four elements that are part of the Digital Expedition of
      Transformation. Aligning your elements creates a strong foundation,
      structure and architecture for defining what is important and how you
      deliver your remarkable value.
    </div>
    <div class="flex instruction-image-text-outer">
      <img
        src="{{ url_for('static',filename='images/stratahedron_view_template.png') }}"
        alt=""
      />

      <div class="flex flex-center-center instruction-image-text">
        <div class="w100 font-medium font-weight-normal p-small">
          The Four Elements of the AMPS Stratahedron<sup class="font-normal"
            >TM</sup
          >&nbsp;are:
        </div>
        <div class="flex flex-end mt" style="width: 90%">
          <div class="w100 font-medium font-weight-normal">
            <span class="font-weight-medium">[A] Audience -</span>
            who you serve and how you communicate your value
          </div>
        </div>
        <div class="flex flex-end" style="width: 90%">
          <div class="w100 font-medium font-weight-normal">
            <span class="font-weight-medium">[M] Method -</span>
            the internal structures that you use to deliver your value
          </div>
        </div>
        <div class="flex flex-end" style="width: 90%">
          <div class="w100 font-medium font-weight-normal">
            <span class="font-weight-medium">[P] Process -</span>
            the external steps that you guide your audience through
          </div>
        </div>
        <div class="flex flex-end" style="width: 90%">
          <div class="w100 font-medium font-weight-normal">
            <span class="font-weight-medium">[S] Story -</span>
            the journey that you are taking your audience on
          </div>
        </div>
      </div>
    </div>

    <div class="inst-block w100 font-medium font-weight-normal mt">
      Within each of the 4 elements of the AMPS Stratahedron<sup
        class="font-normal"
        >TM </sup
      >&nbsp; are three sub-elements that define the parameters of each of your
      main elements. These sub-elements further identify the course of actions
      that can be taken to further align and identify your AMPS structure.
    </div>

    <div class="inst-block w100 font-medium font-weight-normal mt">
      When these four elements are defined and physically connected together,
      they are able to form a unique, 3-Dimensional 4-sided pyramid shape, that
      is unique to you and only your business. This shape is called a
      Tetrahedron, and it contains your Strategic DNA - the core of what you do
      and how you deliver your value. When it is combined with your strategic
      elements, it becomes a Stratahedron<sup class="font-normal">TM </sup
      >&nbsp;- your 3-Dimensional structure of your strategy. While the 4 sided
      shape is similar to all businesses and a foundation for all, only you have
      the defined structure within the Stratahedron<sup class="font-normal"
        >TM </sup
      >&nbsp; as you are able to create it specifically for you and your
      business.
    </div>

    <div class="flex flex-center-center w100 mt">
      <div class="w100 font-medium font-weight-normal">
        Within the larger structure of the 4 triangles, are the internal
        structures that this model creates, expands and demonstrates, once in
        the 3-D shape, they become the core vertices of:
      </div>
      <div class="flex flex-end mt" style="width: 90%">
        <div class="w100 font-medium font-weight-normal">
          <span class="font-weight-medium">1.&nbsp;</span>
          Clarity
        </div>
      </div>
      <div class="flex flex-end" style="width: 90%">
        <div class="w100 font-medium font-weight-normal">
          <span class="font-weight-medium">2.&nbsp;</span>
          Certainty
        </div>
      </div>
      <div class="flex flex-end" style="width: 90%">
        <div class="w100 font-medium font-weight-normal">
          <span class="font-weight-medium">3.&nbsp;</span>
          Competency
        </div>
      </div>
    </div>

    <div class="w100 font-medium font-weight-normal mt">
      Finally, the Content #Hashtags are content topics that are an integral
      part of your strategy model. These are concepts that are connecting the
      pieces of the model together through the main vertices - topics that you
      can carry forward and that can pull your audience and community together.
    </div>

    <div class="w100 flex flex-center-center inst-middle-block p-small mt">
      <div class="w100 font-large font-weight-bold">
        This is your Stratahedron<sup class="font-medium">TM </sup>&nbsp;creator
        studio to show you how to design your own Stratahedron<sup
          class="font-medium"
          >TM </sup
        >&nbsp;.
      </div>

      <div class="w100 font-medium font-weight-medium mt">
        Once you have created your strategy model design, you can print it out
        or re-design another one.
      </div>

      <div class="w100 font-medium font-weight-medium mt">
        The Stratahedron<sup class="font-normal">TM </sup>&nbsp; is a design
        strategy tool to help you see and visualize your core digital business
        strategy. It allows you to develop and then clearly to see what is
        important and how it fits together, where the intersections are, and how
        to get clarity with your business in a multitude of directions.
      </div>

      <div class="w100 font-medium font-weight-medium mt">
        It takes the four major elements of Audience, Method, Process & Story,
        and combines them into a strategic architecture that you can then use to
        identify, plan and execute projects as part of your Digital Expedition
        of Transformation & journey of digital transformation.
      </div>

      <div class="w100 font-medium font-weight-medium mt">
        After entering the details of your AMPS Stratahedron<sup
          class="font-normal"
          >TM </sup
        >&nbsp; - you can then print it out and create your own, individual
        Stratahedron<sup class="font-normal">TM</sup>&nbsp;that can then be
        assembled into the Tetrahedron shape. You can also email the model to
        yourself, to print and assemble more Stratahedrons<sup
          class="font-normal"
          >TM </sup
        >&nbsp;.
      </div>
    </div>

    <div class="w100 font-large font-weight-bold p-small mt">
      Instructions to Designing & Building Your Digital AMPS Stratahedron<sup
        class="font-medium"
        >TM </sup
      >&nbsp;.
    </div>

    <div class="flex instruction-image-text-outer">
      <div class="flex flex-center-center instruction-image-text2">
        <div class="w100 font-medium font-weight-normal p-small mt">
          There are 4 interconnected triangles that form the basis of your
          digital business strategy. They are based on the concepts of Audience,
          Method, Process, and Story.
        </div>
        <div class="w100 font-medium font-weight-normal p-small mt">
          FIRST, watch the explainer video to show you how it all fits together.
        </div>
      </div>
      <div class="flex flex-center-center instruction-image-text2">
        <iframe src="https://www.youtube.com/embed/3_nq31CrSUc "> </iframe>
      </div>
    </div>
    <div class="flex instruction-image-text-outer">
      <div class="flex flex-center-center instruction-image-text3">
        <div class="w100 font-normal font-weight-normal p-small">
          <div
            class="
              w100
              font-medium
              flex flex-center-center
              font-weight-normal
              p-small
            "
          >
            NEXT, complete these steps.
          </div>
          <div class="w100 font-weight-medium mt">
            Step 1: Answer the questions.
          </div>
          <div class="w100">
            Using the questions as a guide, complete all of the mandatory
            questions - the four elements and the twelve total subelements. Also
            add in your content #Hashtags. Push your thinking.
          </div>
        </div>
        <div class="w100 font-normal font-weight-normal p-small">
          <div class="w100 font-weight-medium">
            Step 2: See what it looks like.
          </div>
          <div class="w100">
            Print out your Stratahedron<sup class="font-small">TM</sup>&nbsp;
            and email it to yourself. You will need to Register your details to
            print out the PDF, download it or email it to yourself.
          </div>
        </div>
        <div class="w100 font-normal font-weight-normal p-small">
          <div class="w100 font-weight-medium">Step 3: Cut it.</div>
          <div class="w100">
            Once printed, cut out the outer edge of the flat shape of the
            4-triangles or tetrahedron from your piece of paper, leaving the
            tabs, along with the triangles.
          </div>
        </div>
        <div class="w100 font-normal font-weight-normal p-small">
          <div class="w100 font-weight-medium">
            Step 4: Transform it into a 3D model.
          </div>
          <div class="w100">
            Fold all of the edges, tabs and triangles inwards. It will start to
            form a tetrahedron. Fold the tabs and stick each of the 3 tabs under
            each of the corresponding edges of each triangle. If you have glue -
            add glue to the top of each tab before placing under. If you have
            tape, tape over the edges to hold each side together.
          </div>
        </div>
        <div class="w100 font-normal font-weight-normal p-small">
          <div class="w100 font-weight-medium">Step 5: Enjoy!</div>
          <div class="w100">
            Take a look at your Stratahedron<sup class="font-small">TM </sup
            >&nbsp; and see how it all comes together in multiple dimensions.
            Rotate it around and see how it further connects and refines what
            you business is about, and how you deliver your value.
          </div>
        </div>
      </div>
      <div class="flex flex-center-center inst-text3">
        <img
          src="{{ url_for('static',filename='images/digital_expidition.png') }}"
          alt=""
        />
      </div>
    </div>

    <div class="w100 font-medium font-weight-bold p-small mt">
      Get excited! You are the only person in the world that has this model of
      your business in front of you.
    </div>
    <div class="w100 font-medium font-weight-normal p-small mt">
      <span class="font-weight-bold">TIP : </span>
      Answer the questions with the first ideas that come to mind. Then, if you
      find they don’t fit properly, in the context of all of them together,
      change them to reflect your new converging ideas. Nothing is set in stone
      and the Stratahedron<sup class="font-normal">TM </sup>&nbsp; is meant to
      be a dynamic process, so change it until you’re comfortable that it fits
      for you.
    </div>
  </div>

  <div class="flex w100 flex-center p-small" style="padding: 4%">
    <form action="/creator/studio" method="GET">
      <button class="btn font-medium">
        Enter the
        <span class="font-weight-bold">Strategy Model Creator Studio</span>
      </button>
    </form>
  </div>
</div>
{% endblock %}
