<div
  style="
    display: block;
    float: left;
    box-sizing: border-box;
    width: 100%;
    padding: 2%;
  "
>
  <div
    style="
      width: 70%;
      border: 1px solid #ad2c1a;
      border-radius: 8px;
      margin-left: 15%;
      padding: 1%;
      display: block;
      float: left;
    "
  >
    <div style="width: 100%; display: block; float: left">
      <img
        src="https://demo-digiatl-amps.herokuapp.com/static/images/digital_amps_logo_black.png"
        alt=""
        width="55px"
        height="55px"
        style="display: block; float: left"
      />
      <div
        style="
          display: block;
          font-size: 18px;
          font-weight: bold;
          padding: 2%;
          margin-left: 40%;
        "
      >
        Digital A.M.P.S
      </div>
    </div>
    <br />
    <p style="font-size: 16px; font-weight: 650">
      Hi, {request.form["full_name"]}
    </p>
    <br />
    <p style="font-size: 16px; font-weight: 450">
      Thanks for creating your Digital Business Stratahedon<sup
        style="font-size: 12px"
        >TM</sup
      >
      Model. We’ve attached it to this email as a PDF that you can finish it
      with. This tool will literally shape how you build out your own digital
      strategy.
    </p>
    <br />
    <p style="font-size: 16px; font-weight: 450">
      Here are the details you submitted:
    </p>
    <p style="width: 100%; font-size: 16px">
      <span style="font-weight: 600">Name:</span
      >&nbsp;{request.form["full_name"]}
    </p>
    <p style="width: 100%; font-size: 16px">
      <span style="font-weight: 600">Email:</span>&nbsp;{request.form["email"]}
    </p>
    <p style="width: 100%; font-size: 16px">
      <span style="font-weight: 600">Phone Number:</span
      >&nbsp;{request.form["contact_number"]}
    </p>
    <p style="width: 100%; font-size: 16px">
      <span style="font-weight: 600">Location:</span
      >&nbsp;{request.form["location"]}
    </p>
    <p style="width: 100%; font-size: 16px">
      <span style="font-weight: 600">Company Website:</span
      >&nbsp;{request.form["company_website"]}
    </p>
    <div
      style="
        width: 97%;
        border: 1px solid black;
        padding: 1%;
        display: block;
        float: left;
        border-radius: 8px;
      "
    >
      <p style="font-size: 16px; font-weight: bold">Next Step?</p>
      <p style="font-size: 16px; font-weight: 450">
        You can follow the instruction on the right side of the attached PDF
        when you print it, with your model, or watch the instruction video here:
        <a href="https://youtu.be/UrZS4o7jUBc">https://youtu.be/UrZS4o7jUBc</a>
      </p>
      <p style="font-size: 16px; font-weight: 450">
        <span style="font-weight: 700">1. </span>Print your model out (the
        thicker the paper the better)
      </p>
      <p style="font-size: 16px; font-weight: 450">
        <span style="font-weight: 700">2. </span>Cut your Stratehedron<sup
          style="font-size: 12px"
          >TM</sup
        >
        out of the PDF,
      </p>
      <p style="font-size: 16px; font-weight: 450">
        <span style="font-weight: 700">3. </span>Fold it, and glue or sticky
        tape the edges to hold it together.
      </p>
      <p style="font-size: 16px; font-weight: 450">
        <span style="font-weight: 700">4. </span>Print your model out (the
        thicker the paper the better)
      </p>
      <p style="font-size: 16px; font-weight: 450">
        <span style="font-weight: 700">5. </span>Tada! Look in amazement at how
        your strategy starts to fit together, in something that you can hold in
        your hand and share with your team.
      </p>
      <br />
      <p style="font-size: 16px; font-weight: 450">
        I’ll be showing you how to use it further and what to do next with it.
        In the meantime, here’s what you can do:
      </p>
      <p style="font-size: 16px; font-weight: 450">
        <span style="font-weight: 700">1. </span>Play with it and see how it all
        fits together. If you want to change it, go back to Stratahedron.digital
        <a href="https://demo-digiatl-amps.herokuapp.com/"
          >https://demo-digiatl-amps.herokuapp.com/</a
        >
        and create a new one.
      </p>
      <p style="font-size: 16px; font-weight: 450">
        <span style="font-weight: 700">2. </span>Join us in my Facebook Group
        <a href="https://bit.ly/digitalpathfinders"
          >bit.ly/digitalpathfinders </a
        >- The Digital Expedition League of Pathfinders, where we are helping to
        strengthen the digital journey for businesses around the world and
        create a new one.
      </p>
      <p style="font-size: 16px; font-weight: 450">
        <span style="font-weight: 700">3. </span>Need extra help defining how to
        use it?
        <a href="https://calendly.com/doylebuehler/30min"
          >Book a Digital Pathfinder Session </a
        >with me and we can explore how you can use your foundation you created
        to grow a pipeline of high-value clients.
      </p>
    </div>
    <br />
    <p
      style="
        width: 100%;
        display: block;
        float: left;
        font-size: 16px;
        font-weight: 450;
      "
    >
      This literally is a one-of-a-kind tool that you designed, specifically for
      you.
      <br />
      Hope you enjoy it.
      <br />
      <br />
      Doyle Buehler
      <br />
      Dept.Digital
      <br />
      Senior Smarty Pants
      <br />
      +61 (0) 413 106 880
      <br />
      doyle@thedigitaldelusion.com
    </p>
  </div>
</div>
